
<!DOCTYPE html>

<html>
<head>

    <title>Contact Us</title>


    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/superfish.css">

    <link rel="stylesheet" href="css/style.css">
    <script src="js/modernizr-2.6.2.min.js"></script>



</head>
<body>
<div id="fh5co-wrapper">
    <div id="fh5co-page">
        <div id="fh5co-header">
            <header id="fh5co-header-section">
                <div class="container">
                    <div class="nav-header">
                        <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
                        <h1 id="fh5co-logo"><a href="/homepage">Mypetition</a></h1>
                        <nav id="fh5co-menu-wrap" role="navigation">
                            <ul class="sf-menu" id="fh5co-primary-menu">
                                <li>
                                    <a href="/homepage">Home</a>
                                </li>


                                <li><a href="/petitions">Petitions</a></li>
                                <li><a href="/new">Create</a></li>

                                <%if(!currentUser){%>
                                <li><a href="/login">Login</a></li>
                                <li><a href="/signup">Signup</a></li>
                                <%}else {%>
                                <li><a><span class="glyphicon glyphicon-user"><%=currentUser.username%></span></a></li>
                                <li><a href="/logout">Logout</a></li>
                                <%}%>

                            </ul>
                        </nav>
                    </div>
                </div>
            </header>

        </div>


        <div class="fh5co-hero fh5co-hero-2">
            <div class="fh5co-overlay"></div>
            <div class="fh5co-cover fh5co-cover_2 text-center" data-stellar-background-ratio="0.5" style="background-image: url('http://risq.info/images/risq_bg_28.jpg');">
                <div class="desc animate-box">
                    <h2><strong>Contact</strong> Us</h2>
                    <h2>@Mypetition</h2>
                </div>
            </div>
        </div>

        <div id="fh5co-contact" class="animate-box">
            <div class="container">
                <form action="/contact/message" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="section-title">Our Address</h3>

                            <ul class="contact-info">
                                <li><i class="icon-location-pin"></i>  Indian Institute of iinformation Technology,Gwalior<br>Madhya Pradesh,India-474015</li>
                                <li><i class="icon-phone2"></i> +91 9506496596 (Yash Jaiswal)</li>
                                <li><i class="icon-phone2"></i> +91 7007826653 (Mayank Yadav)</li>
                                <li><i class="icon-phone2"></i> +91 7905647918 (Aryan Sachan)</li>


                                <li><i class="icon-mail"></i><a href="https://www.google.com/gmail/">mypetitionorg@gmail.com</a></li>
                            </ul>
                        </div>


                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">

                                        <input type="text" name="Name" class="form-control" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="email" name="Email" class="form-control" placeholder="Email" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea  class="form-control" name="Message" id="" cols="30" rows="7" placeholder="Message" required></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" value="Send us Message" class="btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--<div id="map" style="width:400px;height:400px;background:yellow"></div>-->


        <div id="googleMap" style="width:100%;height:400px;"></div>

        <script>
            function myMap() {
                var mapProp= {
                    center:new google.maps.LatLng(26.2495,78.1740),
                    zoom:14,
                };
                var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(26.2495,78.1740),
                    map: map,
                    title: 'Hello World!'
                });

            }
        </script>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyACTChElQkE5sMMpBpzj8c-WaFlblQ1eOs&callback=myMap"></script>

        <footer>
            <div id="footer" style="background-color: #5cb85c">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center" style="margin: 0 220px">
                            <p class="fh5co-social-icons">
                                <a href=" https://twitter.com/mypetitionorg" ><i class="icon-twitter2"></i></a>
                                <a href=" https://www.facebook.com/mypetitionorg/" ><i class="icon-facebook2"></i></a>
                                <a href=" https://www.instagram.com/mypetitionorg/" ><i class="icon-instagram"></i></a>
                                <a href="https://mypetitionorg@gmail.com" ><i class="icon-mail"></i></a>
                                <a href="https://www.youtube.com/channel/UCIJ6xKuLDf5hffqdDb-RJ1A" ><i class="icon-youtube"></i></a>
                            </p>
                            <p>Copyright 2018 &copy  <a href="/homepage">Mypetition</a>. All Rights Reserved. </i> </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>


    </div>


</div>


<script src="js/jquery.min.js"></script>

<script src="js/jquery.easing.1.3.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/hoverIntent.js"></script>
<script src="js/superfish.js"></script>
<!-- Google Map -->
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCefOgb1ZWqYtj7raVSmN4PL2WkTrc-KyA&sensor=false"></script>-->
<script src="js/google_map.js"></script>
<script src="js/main.js"></script>

</body>
</html>

